name: Daily Sports Update
on:
  schedule:
    - cron: '59 22 * * *' # Runs every day at midnight
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Scraper
        run: python scraper.py
      - name: Commit results
        run: |
          git config --global user.name 'SportsBot'
          git add daily_schedule.csv
          git commit -m "Daily Refresh"
          git push
          
